/* Login-screem */
.login-screen{
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    color: white;
}

.login-form-container{
    width: 50vw;
}

/* Login Button */
.login-btn{
    background-color: rgb(66, 145, 173);
    width: 100%;
    font-size: medium;
}

/* Both input fields from the form*/
.form-control{
    background-color: rgb(66, 145, 173);
    border: 1px solid #000000;
    font-size: medium;
    color: white;
}

/* When input field is selected */
.form-control:focus{
    background-color: rgb(66, 145, 173);
    border: 1px solid #000000;
    color: white;
}

.form-control::placeholder{
    color: lightblue;
}


.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
    justify-content: flex;
    

}

/* eye-icon position (RESPONSIVE) */
.icon-position{
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 200;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

/* eye-icon effect */
i:hover {
    color: #00fcb6;
    cursor: pointer;
}
